html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Pretendard Variable', sans-serif;
}

body {
  padding: 0 2rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
