.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  background: #fff;
}

.title {
  text-align: center;
  height: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  margin: 0;
}