.container {
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-align: center;
}

.leaderboard {
  margin-top: 3rem;
  border-collapse: collapse;
  text-align: center;
  line-height: 1.5rem;
}

.leaderboard sup {
  line-height: 0;
}

.leaderboard tr {
  border-bottom: 1px solid #000;
}

.leaderboard th {
  width: 4rem;
}

.leaderboard td {
  width: 5.5rem;
}

.leaderboard .nickname {
  width: 8rem;
}

.leaderboard tfoot td {
  text-align: left;
  vertical-align: bottom;
  font-size: 0.8rem;
  height: 2rem;
  border: none;
}

.leaderboard tfoot tr {
  border-bottom: none;
}