.main {
  height: calc(var(--vh, 1vh) * 100);
  overflow: scroll;

  /* hide scrollbar */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.main::-webkit-scrollbar {
  display: none;
}