.board {
  font-family: 'SangSangRock';
  margin-top: 3rem;
  border-collapse: collapse;
}

.board tr {
  border-bottom: 1px solid #000;
}

.board td {
  text-align: center;
  justify-content: center;
}

.board .nickname {
  font-size: 2rem;
  line-height: 4rem;
}

.board .yakuman {
  height: 4.5rem;
}

.board .yakuman .name {
  width: 8rem;
  font-size: 2rem;
  line-height: 2rem;
  white-space: pre-wrap;
}